<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YouTube Video Player</title>
</head>
<body>
    <h2>YouTube Videos</h2>
    <div>
        <!-- Embed YouTube video here -->
        <iframe id="videoPlayer" width="560" height="315" src="https://www.youtube.com/embed/0FM7GubhJ-Q" frameborder="0" allowfullscreen></iframe>
    </div>
    <div>
        <!-- Video links from database -->
        <ul>
            {% for video in videos %}
                <li><a href="#" onclick="changeVideo('{{ video.video_url }}', '{{ video.title }}')">{{ video.title }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <!-- JavaScript to change the video source -->
    <script>
        function changeVideo(videoUrl, title) {
            var videoPlayer = document.getElementById('videoPlayer');
            videoPlayer.src = 'https://www.youtube.com/embed/' + videoUrl;
            videoPlayer.title = title; // Setting the title attribute of the iframe for accessibility
        }
    </script>
</body>
</html>